

<div class="card" style="margin-top: 100px">
    <div class="card-header header-same text-center"><strong>Personalized just for you!</strong></div>
    <img class="card-img-bottom" src="http://ecx.images-amazon.com/images/I/41yroPoJJoL._SX300_.jpg" style="margin-top:10px" alt="Card image">
    <div class="card-body">
      <p class="card-text"><strong>Price</strong>: $10</p>
      <p class="card-text"><strong>Description</strong>: Some info here...</p>
      <button type="button" class="btn product-tags btn-primary">Try Again?</button>
    </div>
</div>
