<div class="top-section">
  <div class="card">
    <div class="card-header text-center"><strong>Click on products and features from the search selections that fit your interests (Selections will appear below as
      you click).  Click on a selection again to remove it.</strong></div>
    <div class="card-body">
      <p class="card-text">Products You Like:</p>
      <button *ngFor="let product of productList" type="button" class="btn product-tags btn-primary"
              (click)="clearProduct(product)">{{ product }}</button>
      <p class="card-text">Features You Like:</p>
      <button *ngFor="let feature of featureList" type="button" class="btn product-tags btn-primary"
              (click)="clearFeature(feature)">{{ feature }}</button>
      <div class="feature-submit">
        <p>Once finished with your selections <strong>click "Save" before</strong> clicking "Search".  Otherwise click "Return home" to go back or "Clear All" to clear your selections!</p>
        <a [routerLink]="['/personalRecommendation']" [queryParams]="{MF: MFProds, feature: featureProds, text: textProds}" class="btn product-tags btn-success">Search</a>
        <button type="button" class="btn product-tags btn-dark" (click)="storeData()">Save Selections</button>
      </div>
      <a href="/home"  class="btn btn-info" style="margin-right: 10px">Return Home</a>
      <button type="button" class="btn btn-danger" (click)="clearFeatures()">Clear All</button>
    </div>
  </div>
</div>


<div class="search-results">
  <h4>More Like This</h4>
</div>


<div class="card-columns">
  <div *ngFor="let recommendation of recommendationList" class="card" style="height:700px">
    <div class="card-header header-same text-center">
      <button type="button" class="btn product-name btn-primary"
              (click)="saveProduct(recommendation[2])">{{ recommendation[2] | slice:0:100 }}</button>
    </div>
    <img class="card-img-bottom" src="{{ recommendation[4] }}" style="margin-top:10px" alt="Card image">
    <div class="card-body">
      <p class="card-text"><strong>Price</strong>: ${{ recommendation[3] }}</p>
      <p class="card-text"><strong>Description</strong>: {{ recommendation[1] | slice:0:150 }}...</p>
      <p class="card-text"><strong>Attribute Features</strong>:</p>
      <button *ngFor="let feature of splitText(recommendation[10])" type="button" class="btn product-tags btn-primary"
              (click)="saveFeature(feature)">{{ feature }}</button>
      <p class="card-text"><strong>Review Features</strong>:</p>
      <button *ngFor="let feature of splitText(recommendation[13])" type="button" class="btn product-tags btn-primary"
              (click)="saveFeature(feature)">{{ feature }}</button>

    </div>
  </div>
</div>
