<div class="top-section">
  <div class="card">
    <div class="card-header text-center"><strong>Click on products and features from the search selections that fit your interests (Selections will appear below as
      you click).  Click on a selection to remove it.</strong></div>
    <div class="card-body">
      <p class="card-text">Products You Like:</p>
      <button *ngFor="let product of productList" type="button" class="btn product-tags btn-primary"
              (click)="clearProduct(product)">{{ product }}</button>
      <p class="card-text">Features You Like:</p>
      <button *ngFor="let feature of featureList" type="button" class="btn product-tags btn-primary"
              (click)="clearFeature(feature)">{{ feature }}</button>
      <div class="feature-submit">
        <p>If you would like to clear your selections press "Clear All" or to return to the search page click "Return Home".  Once finished click submit to receive your personalized recommendation!</p>
        <a href="/personalRecommendation"  class="btn btn-success" style="margin-right: 10px">Submit</a>
        <a href="/home"  class="btn btn-info" style="margin-right: 10px">Return Home</a>
        <button type="button" class="btn btn-danger" (click)="clearFeatures()">Clear All</button>
      </div>
    </div>
  </div>
</div>


<div class="search-results">
  <h4>More Like This</h4>
</div>


<div class="card-columns">
  <div *ngFor="let recommendation of recommendationList" class="card" style="height:550px">
    <div class="card-header header-same text-center">
      <button type="button" class="btn product-name btn-primary"
              (click)="saveProduct(recommendation[1])">{{ recommendation[1] }}</button>
    </div>
    <img class="card-img-bottom" src="{{ recommendation[3] }}" style="margin-top:10px" alt="Card image">
    <div class="card-body">
      <p class="card-text"><strong>Price</strong>: ${{ recommendation[2] }}</p>
      <p class="card-text"><strong>Description</strong>: {{ recommendation[5] | slice:0:150 }}...</p>
      <p class="card-text">    <strong>Product Features</strong>:</p>
      <button *ngFor="let productFeature of ProductFeatures" type="button" class="btn product-tags btn-primary"
              (click)="saveFeature(productFeature.feature)">{{ productFeature.feature }}</button>
    </div>
  </div>
</div>
