img {
  display: block;
  max-width:230px;
  max-height:150px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto
}

.product-tags {
  margin-right: 5px;
  margin-bottom: 5px
}


.header-same {
  background-color: #1a8cff;
  border: #66b3ff;
  height: 80px;
  color: white
}

.feature-selection {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.search-results {
  margin-left: 25px;
  margin-bottom: 25px;
  margin-top: 25px
}

.feature-submit {
  margin-top: 10px;
}

.top-section {
  margin-top: 100px;
}

h4 {
  color: grey;
}
