<div style="margin-left: 20px;">
  <h4 style="margin-bottom: 25px;">  Search Results...</h4>
</div>

<div>
  <p> You have selected presentFeatures()</p>
</div>

<div class="card-columns">
  <div *ngFor="let recommendation of recommendationList" class="card" style="height:550px">
    <div class="card-header text-center"><strong>{{ recommendation[1] }}</strong></div>
    <img class="card-img-bottom" src="{{ recommendation[3] }}" style="margin-top:10px" alt="Card image">
    <div class="card-body">
      <p class="card-text"><strong>Price</strong>: ${{ recommendation[2] }}</p>
      <p class="card-text"><strong>Description</strong>: {{ recommendation[5] | slice:0:150 }}...</p>
      <p class="card-text">    <strong>Product Features</strong>:</p>
      <button *ngFor="let productFeature of ProductFeatures" type="button" class="btn product-tags btn-primary"
               (click)="saveFeature(productFeature.feature)">{{productFeature.feature}}</button>
    </div>
  </div>
</div>
