<ul>
  <li *ngFor="let recommendation of recommendationList">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><strong>{{ recommendation[1] }}</strong></mat-card-title>
      <mat-card-subtitle><strong>Price</strong>: ${{ recommendation[2] }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ recommendation[3] }}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        <strong>Description</strong>: {{ recommendation[5] }}
      </p>
      <p>
        <strong>Keyword Tags</strong>:
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-primary">Primary</button>
    </mat-card-actions>
  </mat-card>
  </li>
</ul>
