@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.navbar{
    background: #1a8cff;
}

.jumbotron{
    background: #1a8cff;
}

.btn-link{
    color: white;
}

.btn-primary {
    background-color: #66b3ff;
    border: #66b3ff;

}
