<form class="col-lg-6 offset-lg-3" style="margin-top: 300px;">
  <div class="row justify-content-center">
      <p>
        <strong>
          Welcome to your personalized product recommender, select a category below to begin!
        </strong>
      </p>
      <select style="margin-right: 10px;">
        <option value="" disabled selected>Select a category</option>
        <option *ngFor="let category of categoriesList" [value]="category.name">{{category}}</option>
      </select>
      <a href="/productSearch"  class="btn btn-primary">Search</a>
  </div>
</form>
