<form class="col-lg-6 offset-lg-3" style="margin-top: 300px;">
  <div class="row justify-content-center">
      <p>
        <strong>
          Welcome to the personalized toy recommender, select a subcategory and search term!
        </strong>
      </p>
      <select style="width:180px;">
        <option value="" disabled selected>Select a subcategory</option>
        <option *ngFor="let subcategory of subcategories" [value]="subcategory.name">{{subcategory.name}}</option>
      </select>
      <input type="text" placeholder="Enter your search terms here..." style="margin-right: 10px; width:250px;">
      <a [routerLink]="['/productSearch']" [queryParams]="{keywords: searchTerms}" class="btn btn-primary">Search</a>
  </div>
</form>
